@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

@layer base {
  :root {
    --dark-800: 96 4% 24%;
    --dark-900: 96 4% 16%;
    --dark-950: 96 4% 10%;
    --light-100: 38 58% 94%;
    --light-200: 36 14% 85%;
    --light-600: 36 14% 50%;
    --light-900: 36 14% 15%;
    --brand: 101 21% 45%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --dark-800: 96 4% 24%;
    --dark-900: 96 4% 16%;
    --dark-950: 96 4% 10%;
    --brown-200: 36 14% 85%;
    --brown-600: 36 14% 50%;
    --brown-800: 36 14% 15%;
    --light: 38 58% 94%;
    --green: 101 21% 45%;
  }

  /* --- Typography --- */
  h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 3.45rem */
    letter-spacing: -0.09rem;
  }

  h2 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 2.8125rem */
    letter-spacing: -0.0675rem;
  }

  h3 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.95rem */
    letter-spacing: -0.03rem;
  }

  h4 {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.5625rem */
    letter-spacing: -0.025rem;
  }

  p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    /* letter-spacing: 0.005rem; */
  }

  .text-large {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.875rem */
  }

  small {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.1375rem */
  }

  code {
    position: relative;
    padding: 0.2rem 0.3rem;
    background-color: hsl(var(--muted));
    border-radius: 0.25rem;

    font-family: monospace;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
}

@layer components {
  .elevation-1 {
    box-shadow: 0px 0px 4px -2px rgba(24, 39, 75, 0.08), 0px 0px 4px -2px rgba(24, 39, 75, 0.12);
  }

  .elevation-big {
    box-shadow: 27px 34px 55px 0px rgba(0, 0, 0, 0.15);
  }

  .card {
    /* className="rounded-lg border-[#E4E4E7] bg-card elevation-1" */
    background: hsl(var(--card));
    border-radius: 0.5rem;
    border: 1px solid hsl(var(--border));
    /* box-shadow: 0px 0px 4px -2px rgba(24, 39, 75, 0.08), 0px 0px 4px -2px rgba(24, 39, 75, 0.12); */
    overflow: clip;
  }

  ol.styled {
    list-style: number;
    margin-left: 1.5rem;
    padding-left: 0.25rem;
  }

  ol.styled > li {
    margin-top: 0.5rem;
  }

  /* --- Video Player --- */
  /* src=https://stackoverflow.com/questions/49393838/how-to-make-reactplayer-scale-with-height-and-width */
  .player-wrapper {
    width: auto;
    height: auto;
  }
  .react-player {
    padding-top: 56.25%; 
    position: relative;
  }

  .react-player > div {
    position: absolute;
  }
}