@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --background-invert: 0 0% 15%;
    --foreground: 0 0% 9%;
    --foreground-invert: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
 
    --primary: 0 0% 15%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 0 0% 32%;
    --secondary-foreground: 0 0% 100%;

    --subtle: 0 0% 96%;
    --subtle-foreground: 0 0% 9%;
 
    --muted: 210 40% 96%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 240 6% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 13%;
    --background-invert: 0 0% 98%;
    --foreground: 0 0% 100%;
    --foreground-invert: 0 0 9%;
 
    --card: 0 0% 15%;
    --card-foreground: 0 0% 100%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 0 0% 83%;
    --secondary-foreground: 24 9.8% 10%;

    --subtle: 0 0% 25%;
    --subtle-foreground: 0 0% 100%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --border: 0 0% 9%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }

  /* --- Typography --- */
  h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 3.45rem */
    letter-spacing: -0.09rem;
  }

  h2 {
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 2.8125rem */
    letter-spacing: -0.0675rem;
  }

  h3 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 1.95rem */
    letter-spacing: -0.03rem;
  }

  h4 {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.5625rem */
    letter-spacing: -0.025rem;
  }

  p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
  }

  .text-large {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.875rem */
  }

  small {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 1.1375rem */
  }

  code {
    position: relative;
    padding: 0.2rem 0.3rem;
    background-color: hsl(var(--muted));
    border-radius: 0.25rem;

    font-family: monospace;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
}

@layer components {
  .elevation-1 {
    box-shadow: 0px 0px 4px -2px rgba(24, 39, 75, 0.08), 0px 0px 4px -2px rgba(24, 39, 75, 0.12);
  }

  .elevation-big {
    box-shadow: 27px 34px 55px 0px rgba(0, 0, 0, 0.15);
  }

  .card {
    /* className="rounded-lg border-[#E4E4E7] bg-card elevation-1" */
    background: hsl(var(--card));
    border-radius: 0.5rem;
    border: 1px solid hsl(var(--border));
    /* box-shadow: 0px 0px 4px -2px rgba(24, 39, 75, 0.08), 0px 0px 4px -2px rgba(24, 39, 75, 0.12); */
    overflow: clip;
  }

  ol.styled {
    list-style: number;
    margin-left: 1.5rem;
    padding-left: 0.25rem;
  }

  ol.styled > li {
    margin-top: 0.5rem;
  }

  /* --- Video Player --- */
  /* src=https://stackoverflow.com/questions/49393838/how-to-make-reactplayer-scale-with-height-and-width */
  .player-wrapper {
    width: auto;
    height: auto;
  }
  .react-player {
    padding-top: 56.25%; 
    position: relative;
  }

  .react-player > div {
    position: absolute;
  }
}